<footer>
	<hr />
	<div class="row">
		<div class="col-md-12 text-center">
			<p>Xion IT Asset Management | <small><strong>Copyright</strong> Richard Shaw &copy; @DateTime.Now.Year</small></p>
			<span class="hidden-print"><a href="@Url.Action("human", "SiteMap")">Site Map</a></span>
		</div>
	</div>
</footer>
