@if (ViewBag.Error != null)
{ 
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove"></i></button>
		<h4>An error has occurred!</h4>
		<p>@ViewBag.Error</p>
	</div>
}
@if (ViewBag.Warning != null)
{ 
	<div class="alert alert-dismissible alert-warning">
		<button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove"></i></button>
		<h4>Warning!</h4>
		<p>@ViewBag.Warning</p>
	</div>
}
@if (ViewBag.Info != null)
{ 
	<div class="alert alert-dismissible alert-info">
		<button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove"></i></button>
		<h4>Heads up!</h4>
		<p>@ViewBag.Info</p>
	</div>
}
@if (ViewBag.Success != null)
{ 
	<div class="alert alert-dismissible alert-success">
		<button type="button" class="close" data-dismiss="alert"><i class="glyphicon glyphicon-remove"></i></button>
		<h4>Success!</h4>
		<p>@ViewBag.Success</p>
	</div>
}
