@{
    ViewBag.Title = "Contact Us";
}

<address>
    Richard Shaw<br />
    49 E Chase St<br />
    <abbr title="Phone">P:</abbr>
    850.555.7900
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:richard@richardshaw.us">richard@richardshaw.us</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@richardshaw.com">marketing@richardshaw.com</a>
</address>